.btn-toggle-sidebar {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1500;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -400px;
    width: 250px;
    height: 100%;
    background-color: #f4f4f4;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 999;
}

.sidebar.open {
    right: 0;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar-content select,
.sidebar-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #666;
}

.sidebar-content select:focus,
.sidebar-content input:focus {
    outline: none;
    border-color: #4CAF50;
}

.sidebar-content select option[disabled] {
    color: #aaa;
}

.sidebar-btns {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.btn-reset,
.btn-search {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-reset {
    background-color: #f44336;
    color: white;
}

.btn-search {
    background-color: #4CAF50;
    color: white;
}

.map{
    transition: margin-right 0.3s ease;
}

.map.shift{
    margin-right: 300px;
}